@page "/leave-edit"
@page "/leave-edit/{LeaveId:int}"


@if (!Saved)
{
    <section class="employee-edit">
        <h1 class="page-title">Details for @Leave.StartDate.ToShortDateString()</h1>
        <EditForm Model="@Leave" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary></ValidationSummary>

            <div class="row mb-3">
                <label for="employee" class="col-form-label col-md-3">Employee: </label>
                <div class="col-md-8">
                    <InputSelect id="employee" class="form-control col-md-8" required @bind-Value="Leave.EmployeeId">
                        <option value="">Select an Employee</option>
                        @foreach (var employee in Employees)
                        {
                            <option value="@employee.EmployeeId">@employee.FirstName @employee.LastName</option>
                        }
                    </InputSelect>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Leave.EmployeeId)" />
            </div>

            <div class="row mb-3">
                <label for="startDate" class="col-form-label col-md-3">Start Date: </label>
                <div class="col-md-8">
                    <InputDate id="startDate" class="form-control col-md-8" @bind-Value="@Leave.StartDate"></InputDate>
                </div>
            </div>

            <div class="row mb-3">
                <label for="endDate" class="col-form-label col-md-3">End Date: </label>
                <div class="col-md-8">
                    <InputDate id="endDate" class="form-control col-md-8" @bind-Value="@Leave.EndDate"></InputDate>
                </div>
            </div>

            <div class="row mb-3">
                <label for="leaveType" class="col-form-label col-md-3">Leave Type: </label>
                <div class="col-md-8">
                    <InputSelect id="leaveType" class="form-select col-md-8" @bind-Value=@Leave.LeaveType>
                        <option value="@(LeaveType.Personal)">Personal</option>
                        <option value="@(LeaveType.Vacation)">Vacation</option>
                        <option value="@(LeaveType.Sick)">Sick</option>
                        <option value="@(LeaveType.Other)">Other</option>
                    </InputSelect>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Leave.LeaveType)" />
            </div>

            <div class="row mb-3">
                <label for="reason" class="col-form-label col-md-3">Reason: </label>
                <div class="col-md-8">
                    <InputTextArea id="reason" class="form-control col-md-8" @bind-Value="@Leave.Reason"></InputTextArea>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Leave.Reason)" />
            </div>

            <button type="submit" class="btn btn-primary me-1">Save Leave</button>

            @if (Leave.LeaveId > 0)
            {
                <button type="button" class="btn btn-danger my-1" @onclick="@DeleteLeave">Delete</button>
            }

            <button type="button" class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to Overview</button>
        </EditForm>
    </section>
}
else
{
    <div class="alert @StatusClass">@Message</div>

    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@NavigateToOverview">Back to Overview</button>
}