@page "/performance-review-edit"
@page "/performance-review-edit/{PerformanceReviewId:int}"
@attribute [Authorize]


<PageTitle>@Title</PageTitle>

<HeadContent>
    <meta name="apple-mobile-web-app-title" content="@Description">
</HeadContent>


@if (!Saved)
{
    <section class="performance-review-edit">
        <h1 class="page-title">Details for @PerformanceReview.ReviewDate.ToShortDateString()</h1>
        <EditForm Model="@PerformanceReview" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary></ValidationSummary>

            <div class="row mb-3">
                <label for="reviewDate" class="col-form-label col-md-3">Review Date: </label>
                <div class="col-md-8">
                    <InputDate id="reviewDate" class="form-control col-md-8" @bind-Value="@PerformanceReview.ReviewDate"></InputDate>
                </div>
            </div>

            <div class="row mb-3">
                <label for="comments" class="col-form-label col-md-3">Comments: </label>
                <div class="col-md-8">
                    <InputTextArea id="comments" class="form-control col-md-8" @bind-Value="@PerformanceReview.Comments"></InputTextArea>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => PerformanceReview.Comments)" />
            </div>

            <div class="row mb-3">
                <label for="score" class="col-form-label col-md-3">Score: </label>
                <div class="col-md-8">
                    <InputNumber id="score" class="form-control col-md-8" @bind-Value="@PerformanceReview.Score"></InputNumber>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => PerformanceReview.Score)" />
            </div>

            <button type="submit" class="btn btn-primary me-1">Save Performance Review</button>

            @if (PerformanceReview.PerformanceReviewId > 0)
            {
                <button type="button" class="btn btn-danger my-1" @onclick="@DeletePerformanceReview">Delete</button>
            }

            <button type="button" class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to Overview</button>
        </EditForm>
    </section>
}
else
{
    <div class="alert @StatusClass">@Message</div>

    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@NavigateToOverview">Back to Overview</button>
}